
.navbar {
    min-height: 6rem;
}
.out-stock{
    filter: grayscale(100%);
}
button{
    .btn-outline-secondary{
        cursor: help;
    }
}
.img-brand-card{
    width: 25%;
}
.img-b{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    left: 0;
}
.img-wrapper{
    img{

    }:hover{
        cursor: zoom-in;
    }

}:hover > .img-b{
    visibility: initial;
    opacity: 1;
    transition: all 0.3s;
}
.btn-add-cart{
    top: 20%;
    transform: translate(-50%, -50%);
}