body {
  margin-top: 4rem;
}

.pointer {
  cursor: pointer;
}

.transition {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.sidebar-off {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin: 0;
  padding: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.opacity-at-25 {
  opacity: 0.5;
}

.overlay-off {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.no-scroll {
  overflow: hidden;
}

.form-select {
  color: white;
}

:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.divider {
  border-right: 1px solid #777777;
  padding-right: 2rem;
}

.index {
  z-index: 10;
  padding-top: 3.5rem;
}

.bg-black {
  background-color: #131313;
}

.navbar {
  min-height: 4rem;
}

.btn .badge {
  top: inherit;
  -webkit-transform: translateX(-0.25rem);
          transform: translateX(-0.25rem);
}

.carousel-caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  margin: 0 0.25rem;
}

.text-shadow-sm {
  text-shadow: 1px 1px #0d6efd;
}

.text-shadow {
  text-shadow: 2px 2px #3a3a3a;
}

.text-shadow-lg {
  text-shadow: 4px 4px #0d6efd;
  font-weight: bold;
}

.carousel .carousel-inner .carousel-item {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .carousel-inner .item1 {
  background-image: url("../img/hero/1.webp");
}

.carousel .carousel-inner .item2 {
  background-image: url("../img/hero/2.webp");
}

.carousel .carousel-inner .item3 {
  background-image: url("../img/hero/3.webp");
}

.out-stock {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

button .btn-outline-secondary {
  cursor: help;
}

.img-brand-card {
  width: 25%;
}

.img-b {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
}

.img-wrapper img {
  width: 100%;
  height: auto;
}

.img-wrapper :hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

:hover > .img-b {
  visibility: initial;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-group, .btn-group-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group-vertical > .btn, .btn-group > .btn {
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
}

.card-body .dropdown-menu {
  border: none;
}

.card-body .dropdown-menu.show {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-transform: translate(0, 40px) !important;
          transform: translate(0, 40px) !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-add-cart {
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainbox {
  width: 10%;
  min-width: 300px;
  border: 1px solid #b4b4b4;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
}

.form-group {
  margin: 1rem 0;
}

.slider {
  top: 0;
  padding: 0.3rem;
  background-color: #bbff00;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider img {
  width: 3.3rem;
}

.-fast {
  overflow: hidden;
  white-space: nowrap;
}

.-fast div {
  display: inline-block;
  -webkit-animation: slide-linear 30s linear infinite;
          animation: slide-linear 30s linear infinite;
}

@-webkit-keyframes slide-linear {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-linear {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=style.css.map */