
body{
    margin-top: 4rem;
}
.navbar {
    min-height: 4rem;
}
.carousel{
    .carousel-inner{
        .carousel-item{
            min-height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .item1{
            background-image: url("../img/hero/1.webp");
        }
        .item2{
            background-image: url("../img/hero/2.webp");
        }
        .item3{
            background-image: url("../img/hero/3.webp");
        }
    }
    
}
.out-stock{
    filter: grayscale(100%);
}
button{
    .btn-outline-secondary{
        cursor: help;
    }
}
.img-brand-card{
    width: 25%;
}
.img-b{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    left: 0;
}
.img-wrapper{
    img{

    }:hover{
        cursor: zoom-in;
    }

}:hover > .img-b{
    visibility: initial;
    opacity: 1;
    transition: all 0.3s;
}
.btn-add-cart{
    top: 20%;
    transform: translate(-50%, -50%);
}